doctype html
html
  head
    title Artifacts Search Results
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    h1 Artifacts Search Results

    .container-fluid
      each item, index in results
        .col-sm-2
          h2 #{item.artifact_name}
          p Age: #{item.artifact_age} years
          p Origin: #{item.origin_culture}
          button(onclick=`buy(${index})`) Buy

    script.
      function buy(index) {
        alert('You purchased item ' + index);
      }
